@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400');

.wrapper {
  padding: 20px 28px;
  margin: 0;
  width: 580px;
  background-color: #273c75;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  border: solid 2px white;
}

h3 {
  margin: 10px 14px 10px 0;
  font-weight: 300;
  font-size: 36px;
}

p {
  margin: 10px 10px;
  font-weight: 300;
  font-size: 14px;
  opacity: 0.8;
  letter-spacing: 1px;
}

input {
  border: none;
  border-radius: 12px;
  padding: 16px 20px;
  margin: 8px;
  width: 100%;
  color: #666;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  outline: none;
}

.tag-container {
  display: flex;
  flex-flow: row wrap;
}

.tag{
  pointer-events: none;
  background-color: none;
  color: var(--amethyst-dark);
  padding: 6px 8px;
  margin: 5px;
  border: 1px solid var(--amethyst-dark);
  border-radius: 50px;
  font-family: 'Poppins', sans-serif;
}

.tag::before {
  pointer-events: all;
  display: inline-block;
  content: 'x';
  height: 20px;
  width: 20px;
  margin-right: 6px;
  text-align: center;
  color: #000;
  background-color: var(--amethyst-dark);
  cursor: pointer;
  border-radius: 50px;
  line-height: 1rem;
  padding-top: 1px;
  font-weight: bold;
}

.tag:hover::before{
  background-color: red;
}
