*{

    --amethyst-light: #F0D9FF;
    --amethyst-dark: #BFA2DB;

    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none !important;
    box-sizing: border-box;
}

.navbar{
    padding-top: .2rem !important;
    padding-bottom: .2rem !important;
    background: white !important;
}

.navbar ion-icon{
    font-size: 1.6rem;
}

#dropdownNotify{
    color: var(--amethyst-dark);
}

.notification-counter{
    z-index: 9999;
}

.main-frame{
    background: #F2F2F2;
    padding-top: 2rem;
}

.user-avatar{
    background: lightgrey;
    padding: .1rem;
}

.navbar-search{
    border: 1px solid var(--amethyst-dark) !important;
    font-family: 'Poppins', sans-serif;
    font-size: .75rem !important;
    height: 2rem;
}

.header-end-point{
    display: flex;
    align-items: center;
    width: 100%;
}

#user-area{
    align-items: center;
    justify-content: space-around;
}

.sb-main-row{
    justify-content: center;
    align-items: center;
    height: 100%;
}

.last-block{
    align-items: baseline;
    height: 60%;
}

.body-content-area{
    min-height: calc(100vh - 2.93rem);
    min-height: -o-calc(100vh - 2.93rem); /* opera */
    min-height: -webkit-calc(100vh - 2.93rem); /* google, safari */
    min-height: -moz-calc(100vh - 2.93rem); /* firefox */
}

.sidebar{
    height: calc(100vh - 2.93rem);
}

.sidebar a{
    align-items: center;
}

.sidebar a:hover{
    background: rgb(153, 186, 235);
    cursor: pointer;
}

.sidebar ion-icon{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.submenu a:hover,
.sidebar #dropdownUser2:hover{
    background-color: transparent;
}
