body{
    width: 100vw;
    height: 100vh;
    background: url("../img/login-page-bg.jpg") no-repeat center;
    background-size: cover;
}

#logo{
    width: 250px;
    margin-bottom: 1rem;
}

.row{
    min-height: 100vh;
}

.form-container{
    height: 25vh;
}

.form-container input{
    border-radius: 0px;
    padding: .7rem;
}

input::placeholder{
    color: white !important;
}

input:focus {
    border-color: var(--amethyst-dark) !important;
    box-shadow: 0 0 0 0.25rem rgb(115, 32, 171 / 25%) !important;
}
