.avatar{
    width: 300px;
    height: 300px;
    overflow: hidden;
    background-repeat: none !important;
    background-position: center !important;
    background-size: cover !important;
}

.avatar-mini{
    width: 32px;
    height: 32px;
    overflow: hidden;
    background-repeat: none !important;
    background-position: center !important;
    background-size: cover !important;
}
